.error {
    border-color: red !important;
}
.success {
    border-color: green !important;
}
.error-text {
    color: red !important;
}

.datepicker .day {
    width: 32px;
    height: 29px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.datepicker .day:hover {
    background: red;
    color: white;
}

.datepicker .datepicker-switch {
    text-align: center;
}

.datepicker {
    padding: 7px 12px;
}

.datepicker .next {
    text-align: right;
    cursor: pointer;
}

.datepicker .prev {
    cursor: pointer;
}

.datepicker-months .month {
    padding: 4px 7px;
    cursor: pointer;
    border-radius: 4px;
}

.datepicker-months .month:hover, .datepicker-years .year:hover {
    background: red;
    color: white;
}
.datepicker-years .year {
    padding: 4px 7px;
    cursor: pointer;
    border-radius: 4px;
}
.error-msg {
    font-size: 12px;
    color: transparent;
    padding-top: 4px;
}

.error-msg.show {
    color: red;
}

.content-info-acc-in .checkbox {
    margin-bottom: 0px;
}

.loading {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 120px;
    left: 50%;
    margin-left: -25px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    z-index: 100;
}
.modal-header {
    padding: 9px 15px;
}
.modal-header h4 {
    color: red;
}
.modal-body h3 {
    margin: 0px;
}
.blog-info-acc .content-info-acc .content-info-acc-in .form-group .btn2 {
    background-color: #ea252f;
    color: white;
}
.gender-item {

}
.small-loading {
    width: 32px;
    height: 32px;
    background: url('../img/loader.gif') center center no-repeat;
    background-size: 100% auto;
    margin: -40px auto;
}
.account-info {
    float: right;
    display: inline-block;
    color: #777;
}
.account-info .agent:after {
    content: "";
    border-right: 1px solid #CCC;
    padding: 0px 7px;
    margin-right: 7px;
}
a.dashboard-btn {
    height: 45px !important;
    text-decoration: none;
}
a.dashboard-btn:hover {
    text-decoration: none;
}
.action-bar {
    text-align: right;
    background: #555;
}
.action-bar td {
    padding: 0px !important;
}
.action-bar .button {
    padding: 8px 12px;
    display: inline-block;
    border-right: 1px solid #FFF;
    cursor: pointer;
    margin-right: -4px;
    color: white;
}
.action-bar .button:last-child {
    border-right: 0px;
}
.action-bar .button:hover, .action-bar .button:active {
    background: #ea252f;
    color: #FFF !important;
    text-decoration: none !important;
}
.back-btn {
    color: #555;
    padding: 3px 9px;
    border-right: 1px solid #CCC;
    margin-right: 9px;
}
.breadcrumb {
    overflow: auto;
}
.table-error {
    color: #ea252f;
}
.tcbs-button {
    background-color: #ea252f;
    color: white;
    border: 0px;
    border-radius: 4px;
    font-size: 14px;
    padding: 5px 9px;
}
.tcbs-button:hover {
    background-color: #333;
}
.excel-uploader {
    border: 1px solid #DDD;
    padding: 4px 12px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 12px;
    box-sizing: border-box;
}
#uploadExcel{
    margin-bottom: 24px;
}
.account-filter{
    float: right;
}
.account-filter-bar{
    margin-bottom: 24px;
}
.btn .caret{
    margin-left: 7px;
} 